<h1><%= @contact.first_name() %><%= @contact.last_name() %></h1>
<h1><%= @contact.birth_month() %></h1>

<!-- <h1><%= @address.home_address()%></h1>
<h1><%= @address.office_address()%></h1>

<h1><%= @email.personal_email()%></h1>
<h1><%= @email.work_email()%></h1>

<h1><%= @phone.home_phone()%></h1>
<h1><%= @phone.work_phone()%></h1>
<h1><%= @phone.cell_phone()%></h1> -->
